body {
    font-family: 'Arial';
    line-height: 1.5;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: WhiteSmoke;
    color: Black;
}

h1 {
    color: Navy;
    text-align: center;
    margin-bottom: 30px;
    border-bottom: 2px solid #3498db;
    padding-bottom: 10px;
}


b {
    display: block;
    font-size: 1.1em;
}

div {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 20px;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

input[type="radio"] {
    margin-right: 10px;
}

button {
    background-color: SeaGreen;
    color: white;
    border: none;
    padding: 12px 25px;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    display: block;
    margin: 30px auto;
    width: 200px;
    transition: background-color 0.3s;
}
